*{
    box-sizing: border-box;
}
body{
    font-family: "Lucida Console", "Courier New", monospace;
    background:linear-gradient(to right, rgb(212, 135, 19), #f54639);
    padding: 0;
    margin: 0;
    position: relative;
    padding-bottom: 6em;
    min-height: 100vh;
}

hr {
    border-color: rgb(22, 22, 22);
  }

.container{
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(0, 0%, 4%);
    padding: 16px;
    display: flex;
    justify-content: center;
    
}

li{
    float: left;
    }
    
    li a{
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
    }
    
    li a:hover:not(.active){
        background-color: #c04a14;
    }
    
    .active{
        background-color: #d87b11;
    }

    h1{
        background-color: #000;
        color: #fff;
        padding: 10px;
        margin: 0;
    }
    
    h2{
        text-align: center;
    }
    table{
        border-collapse: collapse;
        border: 2px solid #000;
        letter-spacing: 1px;
        font-size: 1.5rem;
        background-color: #ffffff60;
    }

    td{
        border: 1px solid #000;
        padding: 10px 20px;
        text-align: center;
    }

    th{
        border: 1px solid #000;
        padding: 10px 20px;
   
    }

    .footer {
        background-color: hsl(60, 4%, 5%);
        color: #FFF;
        padding: 10px;
        text-align: center;
        clear: both;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .footer p{
        text-align: center;
    }

    @media (max-width: 600px){

        ul{
            display: flex;
            justify-content: space-evenly;
        }
        
        table{
            border: 1px solid #000;
            font-size: 0.9rem;
        }

        li a{
            font-size: 14px;
         }
    }